.modal-backredirect-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backredirect {
    width: 97%;
    max-width: 40rem;
    background-color: white;
    border-radius: 1.8rem;
    padding-block: 2.2rem;
    padding-inline: 1.4rem;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-title h2 {
    color: black;
    font-size: 1.9rem;
}

.modal-content h2 {
    margin-block: 2rem;
    font-size: 1.7rem;
    text-align: center;
}

.modal-content h2:nth-child(1) {
    color: black;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continuar-assistindo {
    padding: 1rem;
    border-radius: 0.6rem;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #0273ad;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform: scale(1);
    animation: pulseContinuarAssistindo 1s infinite;
}

@keyframes pulseContinuarAssistindo {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}