.facebook-coments-container {
    margin-block: 4rem;
}

.numero-comentarios {
    font-size: 1.3rem;
    font-weight: bold;
    padding-inline: 2rem;
    margin-bottom: 1.4rem;
    max-width: 102.4rem;
    margin-inline: auto;
}

.facebook-comment {
    margin-bottom: 4rem;
    max-width: 102.4rem;
    margin-inline: auto;
}

.comentario-raiz {
    display: flex;
}

.facebook-comment .left {
    padding-top: 0.3rem;
    padding-inline: 0.6rem;
}

.facebook-comment .left img {
    border-radius: 50%;
}

.facebook-comment .right {
    position: relative;
    width: 100%;
}

.facebook-comment .right .comment {
    font-size: 1.3rem;
    background-color: #f0f2f5;
    border-radius: 1.8rem;
    padding: 1rem 1.2rem;
    width: 98%;
}

.facebook-comment .right .comment .name {
    color: #365899;
    font-weight: bold;
    font-size: 1.4rem;
}

.acoes {
    position: absolute;
    bottom: -2.1rem;
    left: 1.7rem;
}

.acoes small {
    font-size: 1.1rem;
    margin-right: 0.7rem;
}

.acoes small:nth-child(1),
.acoes small:nth-child(2) {
    color: #3c55b0;
}

.numero-de-curtidas {
    position: absolute;
    right: 1.3rem;
    bottom: -1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    padding: 0.2rem 0.6rem;
    background-color: #ffffff;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
    border-radius: 1000rem;
}

.numero-de-curtidas small {
    font-weight: bold;
}

.resposta {
    display: flex;
    padding-left: 5rem;
    margin-top: 2.8rem;
}

.comentarios-alerta {
    margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}