.banner-container {
    text-decoration: none;
}

.banner {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.banner img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    background-color: orange;
}

.app-container {
    background-image: url('../src/img/cha-laranja.jpg');
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.app {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 14px;
}

.product-item-container {
    padding: 6px;
    text-decoration: none;
    color: black;
}

.product-item {
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0) 2px 2px 8px;
    width: 118px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.product-item .product-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.4rem;
}

.product-item-animation {
    animation: productItemAnimation 100ms linear 0s 1 normal;
}

@keyframes productItemAnimation {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}