* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    max-width: 44rem;
    margin-inline: auto;
}

.obg-visao-header-container {
    background-color: yellow;
    color: rgb(9, 9, 202);
    font-weight: bold;
    padding: 1rem;
}

.obg-visao-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obg-visao-header span {
    font-size: 2rem;
    font-weight: bold;
}

.obg-visao-conteudo-container {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.obg-visao-conteudo {
    text-align: center;
}

.obg-visao-conteudo img {
    max-width: 150px;
    margin-inline: auto;
    display: block;
    margin-bottom: 20px;
}


.obg-visao-conteudo span {
    font-size: 1.6rem;
}

.vturb-container {
    width: 95%;
    margin-block: 1rem;
    margin-inline: auto;
}

.imagem-line-upsell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-line-upsell img {
    width: 50%;
    height: 13.8rem;
}

.imagem-line-01-upsell {
    margin-top: 2rem;
}

.imagem-line-02-upsell {
    margin-bottom: 2.6rem;
}

.escondida {
    display: none;
}

.escondida-copy span {
    font-weight: bold;
    font-size: 2rem;
}

.botao-upsell-recusar-aceitar {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.botao-upsell-aceitar {
    background-color: rgb(9, 221, 9);
    color: white;
    font-size: 2rem;
    padding: 1.2rem 2.8rem;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 0.6rem;
}

.botao-upsell-recusar {
    background: none;
    text-decoration: underline;
    font-size: 1rem;
}

.strikeout {
    position: relative;
}

.strikeout::after {
    content: "";
    position: absolute;
    width: 140%;
    top: 45%;
    right: 50%;
    border-bottom: 0.3rem solid rgb(255, 42, 42);
    opacity: 0.8;
    transform: translateX(50%) rotate(-10deg);
    -webkit-transform: translateX(50%) rotate(-10deg);
}