* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin-inline: auto;
}

.upsell-04-header-container  {
    margin-bottom: 3rem;
}

.upsell-04-header {
    background-color: #008000;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upsell-04-header h1 {
    font-weight: bold;
    text-align: center;
    font-size: calc(1.4rem + 1.5vw);
}

.upsell-04-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upsell-04-hero p {
    text-align: center;
}

#hotmart-sales-funnel {
    width: 98%;
    margin-top: 15px;
    max-width: 500px;
}