@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/brandon-grotesque-black.otf') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon_Grotesque_bold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon_Grotesque_medium.otf') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/brandon-grotesque-light.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Light.otf') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-RegularItalic.otf') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Bold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noe Display';
    src: url('../fonts/noe-display-bold-italic.ttf') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noe Display';
    src: url('../fonts/Noe-Display-Regular-Italic.ttf') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Carosello';
    src: url('../fonts/Carosello-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}